<section class="card">
  <div class="card-body">
    <h2>Proyecto Final de Proyecto Informatico I</h2>
    <p>
      Integrantes: Pablo Laura y Mateo Miranda
    </p>
  </div>
  <div class="card-body">
    <h2>Funcionamiento de la App de Notas</h2>
    <p>
      Aca les explicaremos una breve explicacion de como hemos armado esta pagina
    </p>
  </div>
</section>
