<div class="jumbotron mt-4">
  <h1 class="display-4"><i>App de Notas</i></h1>
  <h4>Esta es un app de notas donde puedes almacenar cualquier tipo de informacion.
    <br>
    Primero debes crear un usuario y luego ingresar con el mismo y listo!!
  </h4>
  {{!-- <hr class="my-4">
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <a class="btn btn-primary btn-lg" href="https://github.com/" role="button">Git Hub</a> --}}
</div>
